@model ErrorViewModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-danger">Access Denied</h1>
<h2 class="text-danger">You do not have permission to access to Oracle AP Invoice Attachment Extract.</h2>


<p>
    Please contact administrator !
</p>
